.headerStyle{
    background-color: #2b6777;
    color: white;
}

.quote1{
    font-size: 17px;

}

.section1{
    background-color:#f2f2f2;
}

.section2{
    background-color: #c8d8e4;
}

.section3{
    background-color: #52ab98;    
}

.section4{
    background-color:#f2f2f2;
}

.footer1{
    background-color: #c8d8e4;
}